@mixin common-heading{
  font-family: $heading-font;
  color: $primary-color;
  font-size: 2em;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 46px;
}

@mixin common-para{
  font-family: $paragraph-font;
  font-size: 16px;
  color: $paragraph-color;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}
@mixin common-padding{
  padding: 4% 0;
}

