@mixin common-heading{
  font-family: $heading-font;
  color: $primary-color;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 46px;
  @include breakpoints(1536px){
    font-size: 1.8em;
    font-weight: 500;
  }
}

@mixin common-para{
  font-family: $paragraph-font;
  font-size: 16px;
  color: $paragraph-color;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}
@mixin common-padding{
  padding: 4% 0;
}
@mixin common-button{
    border-radius: 50px;
    border:1px solid $primary-color;
    font-size: 14px;
    font-family: $paragraph-font;
    outline: none;
    transition: all 0.5s ease;
    padding: 7px 10px;
    &:focus{
      box-shadow:none;
    }
    a{
      text-decoration: none;
      color: $primary-color;
      transition: all 0.5s ease;
    }
}
