@mixin common-heading{
  font-family: $heading-font;
  color: $primary-color;
  font-size: 2em;
}

@mixin common-para{
  font-family: $paragraph-font;
  font-size: 1.5em;
  color: $paragraph-color;
  line-height: 36px;
  text-align: justify;
  font-weight: 400;
}
@mixin common-padding{
  padding: 4% 0;
}

