$primary-color:#ec3136;
$black-color:#000000;
$white-color:#ffffff;
$grey-color:#f7f7f7;
$paragraph-color:#393939;
$transparent-color:transparent;
$heading-font:"Poppins", sans-serif;
$paragraph-font:"Inter", serif;