@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'reset';
@import 'variable';
@import 'mixins';
@import 'breakpoints';
@import 'navigations';
@import 'footer';

.hero-carousel-section{
  width: 100%;
  height: 100vh;
  .swiper-container {
    width: 100%;
    height: 100vh;
    .captions-box{
      width: 100%;
      .slide-captions {
        position: absolute;
        top: 46%;
        right: 0;
        z-index: 999;
        width: 50%;
        .current-title {
          font-size: 55px;
          color: $white-color;
          font-family: $heading-font;
          text-align: left;
          margin-left: 45px;
          text-transform: uppercase;
          font-weight: 700;
          @include breakpoints(1470px){
            font-size: 50px;
          }
        }
      }
      .fixed-title{
        position: absolute;
        width: 50%;
        float: left;
        color: $white-color;
        font-family: $heading-font;
        z-index: 1111;
        top: 46%;
        text-align: right;
        text-transform: uppercase;
        text-align: right;
        font-size: 55px;
        font-weight: 200;
        &:after{
          width: 5px;
          height: 43px;
          position: absolute;
          content: "";
          background-color: $white-color;
          right: -24px;
          top: 11px;
          @include breakpoints(1470px){
            width: 4px;
            height: 36px;
          }
        }
        @include breakpoints(1470px){
          font-size: 50px;
        }
      }
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      position: relative;
      img{
        width: 100%;
        @include breakpoints(1470px){
          width: 117%;
        }
      }
    }
  }
}

.swiper-pagination-bullet-active{
background-color:#fff;
}


/************************************************Home About Section CSS************************************************/
.home-about-section {
  background-color: $grey-color;
  @include common-padding;
  h1{
    @include common-heading;
  }
  .about-video-div{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(0 0 0) 140%), url(../img/homepage__banner1.webp);
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .play-box {
      display: flex;
      justify-content: center;
      .video-popup {
        position: relative;
        width: 95px;
        height: 95px;
        font-size: 14px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 50%;
        background: $white-color;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;
        &:before{
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          border-radius: 50%;
          width: 100%;
          height: 100%;
          border: 1px solid #e1e1e1;
          -webkit-animation: playpopup infinite linear 2s;
          animation: playpopup infinite linear 2s;
        }
        &:after{
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          border-radius: 50%;
          width: 100%;
          height: 100%;
          border: 1px solid #e1e1e1;
          -webkit-animation: playpopup infinite linear 1s;
          animation: playpopup infinite linear 1s;
        }
         i {
          font-size: 30px;
          color: $primary-color;
      }
    }
  }
  }
  @keyframes playpopup{
    0% {
      transform: scale(1);
      opacity: 0.6;
  }
  50% {
      transform: scale(1.5);
      opacity: 0.3;
  }
  100% {
      transform: scale(2);
      opacity: 0;
  }
  }
  .home-about-content{
    padding-left: 5%;
    ul{
      margin-left: 15px;
      padding: 0;
      li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span{
          width: 55px;
          display: block;
          margin-right: 15px;
        }
        h4{
          font-size: 1.5em;
          color: $primary-color;
          font-family: $heading-font;
          position: relative;
          font-weight: 600;
          &:before{
            position: absolute;
            content: "";
            left: -15px;
            top: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50px;
            background-color: $paragraph-color;
          }
        }
        div{
          p{
            font-size: 15px;
            line-height: 26px
          }
        }
      }
    }
    p{
      @include common-para;
    }
  }
}

.counter-stats{
  display: flex;
	justify-content: center;
  font-family: $heading-font;
  color: $white-color;
  // background-image: linear-gradient(0deg, hsl(348deg 47% 35%) 9%, hsl(348deg 41% 40%) 36%, hsl(348deg 34% 45%) 46%, hsl(348deg 29% 50%) 53%, hsl(348deg 31% 56%) 59%, hsl(348deg 31% 62%) 64%, hsl(348deg 32% 69%) 69%, hsl(348deg 32% 75%) 73%, hsl(348deg 32% 81%) 78%, hsl(348deg 28% 89%) 87%, hsl(0deg 0% 97%) 100%);
  background-color: $primary-color;
  h4{
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 100px;
    font-family: $paragraph-font;
    font-family: $heading-font;
  }
  h5{
    font-weight: 400;
    font-size: 17px;
    @include breakpoints(1536px){
     font-weight: 300;
     font-size: 17px;
    }
  }
  padding: 2% 0 2% 0;
  .stats{
    border-left: 1px solid $white-color;
    i{
      font-size: 30px;
    }
    .stats-count{
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      span{
        display: block;
        margin-left: 7px;
        font-size: 30px;
      }
    }
    .usp-counting{
      font-size: 75px;
      font-family: $paragraph-font;
      color: $grey-color;
      text-align: left;
      font-weight: 700;
      @include breakpoints(1600px){
        font-size: 70px;
      }
    }
  }
}


/************************************************Home Our Brands CSS************************************************/
.home-our-brands{
width: 100%;
@include common-padding;
background-color: $grey-color;
h1{
  @include common-heading;
}
p{
  @include common-para;
}
.home-brands-grid{
  margin-top: 50px;
  display: grid;
  grid-auto-rows:auto;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 0;
  width: 100%;
  @include breakpoints(1600px){
    margin-top: 40px;
  }
  .home-brands{
    overflow: hidden;
    &:before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color:rgb(0 0 0 / 39%);
      left: 0;
      top: 0;
      z-index: 1;
      transition: all 0.5s ease;
    }
    &:hover::before{
      background-color:#000000b8;
      transition: all 0.5s ease;
    }
    cursor: pointer;
    img{
      width: 100%;
      transition: all 0.5s ease;
    }
    &:hover img{
      transform: scale(1.1);
      transition: all 0.5s ease;
      filter: grayscale(50%);
    }
    .home-brands-content{
      position: absolute;
      z-index: 2;
      bottom: 40px;
      left: 40px;
      h3{
        font-weight: 600;
        font-family: $heading-font;
        margin-bottom: 5px;
        color: $white-color;
        @include breakpoints(1536px){
          font-size: 25px;
        }
      }
      span{
        display: flex;
        justify-content: start;
        align-items: center;
        @include common-para;
        color: $white-color;
        img{
          width: 7%;
          transform: scale(1)!important;
        }
      }
    }
  }
}
}

/************************************************Home Latest From Goldiee CSS************************************************/

.home-blogs{
  width: 100%;
  @include common-padding;
  h1{
    @include common-heading;
  }
  .home-blog-carousel{
    .latest-from-goldiee{
      .item {
        width: 100%;
        position: relative;
        overflow: hidden;
        border: 1px solid #fff9f9;
        cursor: pointer;
        &:hover {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        img {
          width: 100%;
          transition:  all 0.5s ease;
          transform: scale(1.1);
        }
        &:hover img{
          transform: scale(1);
          transition:  all 0.5s ease;
        }
      &:hover .read-more{
        background-color: transparent;
        transition: all 0.5s ease;
        
      }
      &:hover .read-more a{
        color: $primary-color!important;
        transition: all 0.5s ease;
        background-color: transparent;
      }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 28px 25px;
          color: #fff;
          background: rgb(2, 0, 36);
          background: linear-gradient(
            0deg,
            #020024 0%,
            #000032a1 3%,
            #17d9ff00 100%
          );
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
      
          span {
            background: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 60px;
            padding: 10px 20px;
            display: inline-block;
          }
      
          > div {
            h2 {
              letter-spacing: 0.5px;
              margin-bottom: 5px;
            }
          }
        }
        .bolgs-img-div{
          overflow: hidden;
        }
        .blogs-content{
          padding: 15px;
          background-color: #fff9f9;
          span{
            font-family: $paragraph-font;
            display: block;
            margin-bottom: 10px;
            color: $primary-color;
            font-size: 14px;
            font-weight: 500;
          }
          h4{
            font-family: $heading-font;
            color: $paragraph-color;
            font-size: 19px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 10px;
            @include breakpoints(1600px){
              font-size: 18px;
            }
        }
        p{
          @include common-para;
          font-size: 15px;
          line-height: 26px;
          margin-bottom: 10px;
          
        }
        button{
          @include common-button;
        }
          }
        }
      }
      .owl-nav {
        position: absolute;
        top: -100px;
        right: 0;
        button {
          background:$primary-color;
          width: 45px;
          height: 45px;
          font-size: 31px !important;
          box-shadow: 0px 0px 17px #00000005;
          border-radius: 50%;
          color: $white-color;
          outline: none;
          border: none;
          transition: all 0.5s ease;
        &:hover{
          background-color: $paragraph-color;
          transition: all 0.5s ease;
        }
          &:nth-of-type(1) {
            margin-right: 13px;
          }
          span{
            margin-top: -5px;
            display: block;
          }
        }
      }
      
    }
  }




/************************************************Home Career CSS************************************************/
.home-career{
  width: 100%;
  overflow: hidden;
  height: 600px;
  .home-career-bg{
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image:radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 115%), url("../img/career-bg.webp");
    background-attachment: fixed;
  }
  .home-career-content{
    position: absolute;
    bottom: 110px;
    h2{
      color: $white-color;
      font-family: $heading-font;
      font-size: 35px;
    }
    p{
      @include common-para;
      color: $white-color;
      margin-top: 8px;
      line-height: 26px;
    }
    button{
      @include common-button;
      margin-top: 25px;
      background-color: $primary-color;
      font-size: 16px;
      a{
        color: $white-color;
      }
    }
  }
}



.home-awards-achievements{
width: 100%;
margin: 0 auto;
display: block;
@include common-padding;
background-color: #faf6f3;
.awards-container{
  width: 85%;
  margin:  0 auto;
  display: block;
}
.title{
  font-family: $paragraph-font;
  display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content:center;
  color: $paragraph-color;
  font-size: 20px;
  font-weight: 400;
  &:before {
		content: "";
		background-color: rgba(#000, .2);
		height: 1px;
		width: 4%;
		margin-right: 1rem;
	}
  &:after {
		content: "";
		background-color: rgba(#000, .2);
		height: 1px;
		width: 4%;
		margin-left: 1rem;
	}
}
h4{
  @include common-heading;
    color: $primary-color;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    line-height: 40px;
}

.awards-achievements-grid{
  margin-top: 65px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 3em;
  width: 100%;
  .awards-box{
    background-color:$white-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 32px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    img{
      width: 22%;
      @include breakpoints(1600px){
        width: 20%;
      }
    }
    h3{
      font-size: 20px;
      font-family: $paragraph-font;
      color: $paragraph-color;
      font-weight: 500; 
      line-height: 26px;
      @include breakpoints(1600px){
        font-size: 19px;
      }
    }
    span{
      display: block;
      font-family: $paragraph-font;
      color: $paragraph-color;
      font-size: 17px;
      font-weight: 400;
    }
  }
}
}




/************************************************Scroll To Top CSS************************************************/

.back-to-top {
	margin: 0 !important;
	padding: 0 !important;
	background: $white-color;
	height: 0px;
	width: 0px;
	overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	color: transparent;
	clear: both;
	visibility: hidden;
	position: fixed;
	cursor: pointer;
	display: block;
	border: none;
	right: 50px;
	bottom: 75px;
	font-size: 0px;
	outline: 0 !important;
	z-index: 99;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	&::after {
		border-bottom-color: $white-color;
		position: relative;
		top: -24px;
	}
	&.show {
		display: block;
		background: $white-color;
		color: $primary-color;
		font-size: 25px;
		right: 25px;
		bottom: 50px;
		height: 47px;
		width: 47px;
		visibility: visible;
		box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
		&:active {
			box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
			-webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
		}
	}
  i{
    font-size: 20px;
  }
}
.back-to-top::before,
.back-to-top::after {
	content: "";
	display: block;
	vertical-align: middle;
	border-bottom: solid 10px $primary-color;
	line-height: 0;
	height: 0;
	width: 0;
	border-radius: 20px;
	visibility: hidden;
}
.back-to-top.show::after,
.back-to-top.show::before {
	visibility: visible;
}

/************************************************Breadcrumb CSS************************************************/

.bread-crumb {
  padding: 15px 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			float: left;
			padding: 0 10px;
			position: relative;
      list-style: none;
			& + ::before {
				content: "";
				display: block;
				position: absolute;
				top: 8px;
				left: -4px;
				background: url("../img/right_arrow.png");
				background-size: 30%;
				height: 22px;
				width: 22px;
				background-repeat: no-repeat;
			}
			&:nth-child(1) {
				padding-left: 0;
			}
		}
	}
	li {
		a {
			font-size: 14px;
			line-height: 19px;
			color: $paragraph-color;
			font-family: $heading-font;
			font-weight: 500;
			text-decoration: none;
			transition: all 0.5s ease;
			&.active {
				color: $primary-color;
				font-weight: 500 !important;
			}
			&:hover {
				color: $primary-color;
				transition: all 0.5s ease;
			}
		}
	}
}

/************************************************Our Story Page CSS************************************************/
.our-story-head-section{
@include top-divider;
}
.our-story-div{
  width: 100%;
  background-color: $bg-color;
  @include common-padding;
  .section-content{
    .wt-half-left-outer {
      margin-bottom: 50px;
      background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 140%), url('../img/half-part.webp');
      background-size:cover;
      .wt-half-left {
        position: relative;
        height: 500px;
         img {
          position: absolute;
          right: -50px;
          bottom: -100px;
          z-index: 1;
          width: 18%;
          filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
      }
    }
  }
  .wt-half-right-outer{
    background-color: #faf6f3;
    .wt-half-right {
      width: 700px;
      float: left;
      padding: 60px;
      .section-head {
        margin-bottom: 30px;
        .wt-title-small {
          position: relative;
          display: inline-block;
          margin-top: 0px;
          font-family: $paragraph-font;
          font-size: 18px;
          font-weight: 500;
          color: $primary-color;
          &:after {
            position: absolute;
            content: '';
            width: 50px;
            height: 2px;
            background-color: $primary-color;
            right: -60px;
            top: 9px;
        }
      }
      h2{
        font-family: $heading-font;
        font-size: 30px;
        font-weight: 600;
        line-height: 42px;
      }
      p{
        @include common-para;
      }
    }
    .project-counter{
      color: $primary-color;
      font-family: $paragraph-font;
      font-size:40px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    h4{
      font-family: $heading-font;
      font-size: 15px;
      color: $paragraph-color;
      font-weight: 800;
    }
  }
  }
  }
}
.our-story-vision{
  width: 100%;
  background-color: $bg-color;
  @include common-padding;
  .our-story-vision-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img.divider-img{
      width: 1%;
    }
    h1{
      font-family: $heading-font;
      font-size: 40px;
      color: $paragraph-color;
      font-weight: 700;
    }
    h2{
      font-family: $paragraph-font;
      font-size: 60px;
      color: $primary-color;
      font-weight: 500;
      span{
        font-size: 110px;
        font-weight: 700;
      }
    }
    p{
      @include common-para;
    }
    .story-founder-box{
      width: 100%;
      margin-top: 100px;
      .story-founder-info{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
        h1{
          font-family: $paragraph-font;
          font-weight: 500;
          font-size: 60px;
          text-align: right;
          color: $paragraph-color;
          line-height: 70px;
        }
        p{
          text-align: right;
          font-family: $heading-font;
          font-size: 26px;
          color: $primary-color;
          font-weight: 600;
          line-height: 38px;
        }
      }
      img{
        width: 60%;
      }
    }
  }
}
.top-breadcrumb{
  width: 100%;
  background-color: $bg-color;
}
