@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

img {
  width: 100%;
}

.custom-container {
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.navigation-main {
  width: 100%;
  position: absolute;
  z-index: 111;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: auto;
  transition: all 0.5s ease;
}
.navigation-main .navbar {
  padding: 0;
}
.navigation-main .navbar .dropdown {
  position: relative;
}
.navigation-main .navbar .dropdown .dropdown-menu {
  width: auto;
  top: 40px;
  display: block;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  transition: visibility 0s, opacity 0.3s linear;
  border: none;
  padding: 0;
  border-radius: 0;
}
.navigation-main .navbar .dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
.navigation-main .navbar-light .navbar-brand {
  background-color: transparent;
  padding: 15px;
  margin: 0;
  width: 190px;
  transition: all 0.5s ease;
}
.navigation-main .navbar-light .navbar-brand img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.navigation-main .navbar-light .navbar-nav .nav-item {
  margin: 0 7px;
}
.navigation-main .navbar-light .navbar-nav .nav-item .dropdown-item {
  padding: 9px 20px 9px 13px;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.navigation-main .navbar-light .navbar-nav .nav-item .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #832f40;
}
.navigation-main .navbar-light .navbar-nav .nav-item .nav-link {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.sticky-header {
  background-color: #ffffff;
  transition: all 0.5s ease;
  position: fixed;
  height: 75px;
}
.sticky-header .nav-link {
  color: #393939 !important;
}
.sticky-header .navbar-brand {
  padding: 10px !important;
  width: 170px !important;
  transition: all 0.5s ease;
}

footer {
  width: 100%;
  padding: 4% 0 0 0;
  background-color: #FCFAF8;
}
footer .footer-navList {
  width: 100%;
  padding-left: 12%;
}
@media (max-width: 1600px) {
  footer .footer-navList {
    padding-left: 10%;
  }
}
@media (max-width: 1536px) {
  footer .footer-navList {
    padding-left: 5%;
  }
}
footer .footer-navList ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
}
footer .footer-navList ul li {
  list-style: none;
  margin-left: 55px;
}
footer .footer-navList ul li a {
  text-decoration: none;
  color: #393939;
  font-family: "Inter", serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
footer .footer-navList ul li:nth-child(1) {
  margin-left: 0;
}
footer .footer-contact-info {
  padding-left: 12%;
}
@media (max-width: 1600px) {
  footer .footer-contact-info {
    padding-left: 10%;
  }
}
@media (max-width: 1536px) {
  footer .footer-contact-info {
    padding-left: 5%;
  }
}
footer .footer-contact-info span {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #393939;
  margin-bottom: 12px;
  display: block;
}
footer .footer-contact-info p {
  font-family: "Inter", serif;
  font-size: 16px;
  color: #393939;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}
footer .footer-contact-info p a {
  color: #393939;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
}
footer .footer-contact-info p a i {
  font-size: 17px;
  color: #832f40;
}
footer .footer-copyright {
  padding-top: 25px;
  padding-bottom: 25px;
}
footer .footer-copyright .footer-social-media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}
footer .footer-copyright .footer-social-media li {
  list-style: none;
}
footer .footer-copyright .footer-social-media li a {
  color: #832f40;
  text-decoration: none;
}
footer .footer-copyright .footer-social-media li a i {
  font-size: 19px;
}
footer .copyright {
  font-size: 13px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
footer .copyright li {
  position: relative;
}
footer .copyright li:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #832f40;
  left: -14px;
  top: 2px;
}
footer .copyright li:nth-child(1):before {
  width: 0;
}
footer .copyright li a {
  color: #393939 !important;
}

.hero-carousel-section {
  width: 100%;
  height: 100vh;
}
.hero-carousel-section .swiper-container {
  width: 100%;
  height: 100vh;
}
.hero-carousel-section .swiper-container .captions-box {
  width: 100%;
}
.hero-carousel-section .swiper-container .captions-box .slide-captions {
  position: absolute;
  top: 46%;
  right: 0;
  z-index: 999;
  width: 50%;
}
.hero-carousel-section .swiper-container .captions-box .slide-captions .current-title {
  font-size: 55px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  text-align: left;
  margin-left: 45px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 1470px) {
  .hero-carousel-section .swiper-container .captions-box .slide-captions .current-title {
    font-size: 50px;
  }
}
.hero-carousel-section .swiper-container .captions-box .fixed-title {
  position: absolute;
  width: 50%;
  float: left;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  z-index: 1111;
  top: 46%;
  text-align: right;
  text-transform: uppercase;
  text-align: right;
  font-size: 55px;
  font-weight: 200;
}
.hero-carousel-section .swiper-container .captions-box .fixed-title:after {
  width: 5px;
  height: 43px;
  position: absolute;
  content: "";
  background-color: #ffffff;
  right: -24px;
  top: 11px;
}
@media (max-width: 1470px) {
  .hero-carousel-section .swiper-container .captions-box .fixed-title:after {
    width: 4px;
    height: 36px;
  }
}
@media (max-width: 1470px) {
  .hero-carousel-section .swiper-container .captions-box .fixed-title {
    font-size: 50px;
  }
}
.hero-carousel-section .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: relative;
}
.hero-carousel-section .swiper-container .swiper-slide img {
  width: 100%;
}
@media (max-width: 1470px) {
  .hero-carousel-section .swiper-container .swiper-slide img {
    width: 117%;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

/************************************************Home About Section CSS************************************************/
.home-about-section {
  background-color: #f7f7f7;
  padding: 4% 0;
}
.home-about-section h1 {
  font-family: "Nunito", sans-serif;
  color: #832f40;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 46px;
}
@media (max-width: 1536px) {
  .home-about-section h1 {
    font-size: 1.8em;
    font-weight: 500;
  }
}
@media (max-width: 1470px) {
  .home-about-section h1 {
    font-size: 1.7em;
    font-weight: 500;
    line-height: 40px;
  }
}
.home-about-section .about-video-div {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 140%), url(../img/homepage__banner1.webp);
  background-size: cover;
  background-position: center center;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home-about-section .about-video-div .play-box {
  display: flex;
  justify-content: center;
}
.home-about-section .about-video-div .play-box .video-popup {
  position: relative;
  width: 95px;
  height: 95px;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.home-about-section .about-video-div .play-box .video-popup:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid #e1e1e1;
  -webkit-animation: playpopup infinite linear 2s;
  animation: playpopup infinite linear 2s;
}
.home-about-section .about-video-div .play-box .video-popup:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid #e1e1e1;
  -webkit-animation: playpopup infinite linear 1s;
  animation: playpopup infinite linear 1s;
}
.home-about-section .about-video-div .play-box .video-popup i {
  font-size: 30px;
  color: #832f40;
}
@keyframes playpopup {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.home-about-section .home-about-content {
  padding-left: 5%;
}
.home-about-section .home-about-content ul {
  margin-left: 15px;
  padding: 0;
}
.home-about-section .home-about-content ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-about-section .home-about-content ul li span {
  width: 55px;
  display: block;
  margin-right: 15px;
}
.home-about-section .home-about-content ul li h4 {
  font-size: 1.5em;
  color: #832f40;
  font-family: "Nunito", sans-serif;
  position: relative;
  font-weight: 600;
}
.home-about-section .home-about-content ul li h4:before {
  position: absolute;
  content: "";
  left: -15px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #393939;
}
.home-about-section .home-about-content ul li div p {
  font-size: 15px;
  line-height: 26px;
}
.home-about-section .home-about-content p {
  font-family: "Inter", serif;
  font-size: 16px;
  color: #393939;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}

.counter-stats {
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  background-color: #832f40;
  padding: 2% 0 2% 0;
}
.counter-stats h4 {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 100px;
  font-family: "Inter", serif;
  font-family: "Nunito", sans-serif;
}
.counter-stats h5 {
  font-weight: 400;
  font-size: 17px;
}
@media (max-width: 1536px) {
  .counter-stats h5 {
    font-weight: 300;
    font-size: 17px;
  }
}
.counter-stats .stats {
  border-left: 1px solid #ffffff;
}
.counter-stats .stats i {
  font-size: 30px;
}
.counter-stats .stats .stats-count {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.counter-stats .stats .stats-count span {
  display: block;
  margin-left: 7px;
  font-size: 30px;
}
.counter-stats .stats .usp-counting {
  font-size: 75px;
  font-family: "Inter", serif;
  color: #f7f7f7;
  text-align: left;
  font-weight: 700;
}
@media (max-width: 1600px) {
  .counter-stats .stats .usp-counting {
    font-size: 70px;
  }
}

/************************************************Home Our Brands CSS************************************************/
.home-our-brands {
  width: 100%;
  padding: 4% 0;
  background-color: #f7f7f7;
}
.home-our-brands h1 {
  font-family: "Nunito", sans-serif;
  color: #832f40;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 46px;
}
@media (max-width: 1536px) {
  .home-our-brands h1 {
    font-size: 1.8em;
    font-weight: 500;
  }
}
@media (max-width: 1470px) {
  .home-our-brands h1 {
    font-size: 1.7em;
    font-weight: 500;
    line-height: 40px;
  }
}
.home-our-brands p {
  font-family: "Inter", serif;
  font-size: 16px;
  color: #393939;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}
.home-our-brands .home-brands-grid {
  margin-top: 50px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 0;
  width: 100%;
}
@media (max-width: 1600px) {
  .home-our-brands .home-brands-grid {
    margin-top: 40px;
  }
}
.home-our-brands .home-brands-grid .home-brands {
  overflow: hidden;
  cursor: pointer;
}
.home-our-brands .home-brands-grid .home-brands:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.5s ease;
}
.home-our-brands .home-brands-grid .home-brands:hover::before {
  background-color: rgba(0, 0, 0, 0.7215686275);
  transition: all 0.5s ease;
}
.home-our-brands .home-brands-grid .home-brands img {
  width: 100%;
  transition: all 0.5s ease;
}
.home-our-brands .home-brands-grid .home-brands:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
  filter: grayscale(50%);
}
.home-our-brands .home-brands-grid .home-brands .home-brands-content {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
}
.home-our-brands .home-brands-grid .home-brands .home-brands-content h3 {
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  margin-bottom: 5px;
  color: #ffffff;
}
@media (max-width: 1536px) {
  .home-our-brands .home-brands-grid .home-brands .home-brands-content h3 {
    font-size: 25px;
  }
}
.home-our-brands .home-brands-grid .home-brands .home-brands-content span {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Inter", serif;
  font-size: 16px;
  color: #393939;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
}
.home-our-brands .home-brands-grid .home-brands .home-brands-content span img {
  width: 7%;
  transform: scale(1) !important;
}

/************************************************Home Latest From Goldiee CSS************************************************/
.home-blogs {
  width: 100%;
  padding: 4% 0;
}
.home-blogs h1 {
  font-family: "Nunito", sans-serif;
  color: #832f40;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 46px;
}
@media (max-width: 1536px) {
  .home-blogs h1 {
    font-size: 1.8em;
    font-weight: 500;
  }
}
@media (max-width: 1470px) {
  .home-blogs h1 {
    font-size: 1.7em;
    font-weight: 500;
    line-height: 40px;
  }
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff9f9;
  cursor: pointer;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item img {
  width: 100%;
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item:hover img {
  transform: scale(1);
  transition: all 0.5s ease;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item:hover .read-more {
  background-color: transparent;
  transition: all 0.5s ease;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item:hover .read-more a {
  color: #832f40 !important;
  transition: all 0.5s ease;
  background-color: transparent;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px 25px;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, #020024 0%, rgba(0, 0, 50, 0.631372549) 3%, rgba(23, 217, 255, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .overlay span {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 60px;
  padding: 10px 20px;
  display: inline-block;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .overlay > div h2 {
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .bolgs-img-div {
  overflow: hidden;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content {
  padding: 15px;
  background-color: #fff9f9;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content span {
  font-family: "Inter", serif;
  display: block;
  margin-bottom: 10px;
  color: #832f40;
  font-size: 14px;
  font-weight: 500;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content h4 {
  font-family: "Nunito", sans-serif;
  color: #393939;
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}
@media (max-width: 1600px) {
  .home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content h4 {
    font-size: 18px;
  }
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content p {
  font-family: "Inter", serif;
  font-size: 16px;
  color: #393939;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 10px;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content button {
  border-radius: 50px;
  background-color: #832f40;
  font-size: 14px;
  font-family: "Inter", serif;
  outline: none;
  transition: all 0.5s ease;
  padding: 7px 10px;
  border: 1px solid #832f40;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content button:focus {
  box-shadow: none;
}
.home-blogs .home-blog-carousel .latest-from-goldiee .item .blogs-content button a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease;
}
.home-blogs .home-blog-carousel .owl-nav {
  position: absolute;
  top: -100px;
  right: 0;
}
.home-blogs .home-blog-carousel .owl-nav button {
  background: #832f40;
  width: 45px;
  height: 45px;
  font-size: 31px !important;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.0196078431);
  border-radius: 50%;
  color: #ffffff;
  outline: none;
  border: none;
  transition: all 0.5s ease;
}
.home-blogs .home-blog-carousel .owl-nav button:hover {
  background-color: #393939;
  transition: all 0.5s ease;
}
.home-blogs .home-blog-carousel .owl-nav button:nth-of-type(1) {
  margin-right: 13px;
}
.home-blogs .home-blog-carousel .owl-nav button span {
  margin-top: -5px;
  display: block;
}

/************************************************Home Career CSS************************************************/
.home-career {
  width: 100%;
  overflow: hidden;
  height: 600px;
}
.home-career .home-career-bg {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 115%), url("../img/career-bg.webp");
  background-attachment: fixed;
}
.home-career .home-career-content {
  position: absolute;
  bottom: 110px;
}
.home-career .home-career-content h2 {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 35px;
}
.home-career .home-career-content p {
  font-family: "Inter", serif;
  font-size: 16px;
  color: #393939;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
  margin-top: 8px;
  line-height: 26px;
}
.home-career .home-career-content button {
  border-radius: 50px;
  background-color: #832f40;
  font-size: 14px;
  font-family: "Inter", serif;
  outline: none;
  transition: all 0.5s ease;
  padding: 7px 10px;
  border: 1px solid #832f40;
  margin-top: 25px;
  background-color: #832f40;
  font-size: 16px;
}
.home-career .home-career-content button:focus {
  box-shadow: none;
}
.home-career .home-career-content button a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease;
}
.home-career .home-career-content button a {
  color: #ffffff;
}

.home-awards-achievements {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 4% 0;
  background-color: #faf6f3;
}
.home-awards-achievements .awards-container {
  width: 85%;
  margin: 0 auto;
  display: block;
}
.home-awards-achievements .title {
  font-family: "Inter", serif;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
}
.home-awards-achievements .title:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  width: 4%;
  margin-right: 1rem;
}
.home-awards-achievements .title:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  width: 4%;
  margin-left: 1rem;
}
.home-awards-achievements h4 {
  font-family: "Nunito", sans-serif;
  color: #832f40;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 46px;
  color: #832f40;
  font-weight: 400;
  font-size: 27px;
  text-align: center;
  line-height: 40px;
}
@media (max-width: 1536px) {
  .home-awards-achievements h4 {
    font-size: 1.8em;
    font-weight: 500;
  }
}
@media (max-width: 1470px) {
  .home-awards-achievements h4 {
    font-size: 1.7em;
    font-weight: 500;
    line-height: 40px;
  }
}
.home-awards-achievements .awards-achievements-grid {
  margin-top: 65px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 3em;
  width: 100%;
}
.home-awards-achievements .awards-achievements-grid .awards-box {
  background-color: #ffffff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 32px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.home-awards-achievements .awards-achievements-grid .awards-box img {
  width: 22%;
}
@media (max-width: 1600px) {
  .home-awards-achievements .awards-achievements-grid .awards-box img {
    width: 20%;
  }
}
.home-awards-achievements .awards-achievements-grid .awards-box h3 {
  font-size: 20px;
  font-family: "Inter", serif;
  color: #393939;
  font-weight: 500;
  line-height: 26px;
}
@media (max-width: 1600px) {
  .home-awards-achievements .awards-achievements-grid .awards-box h3 {
    font-size: 19px;
  }
}
.home-awards-achievements .awards-achievements-grid .awards-box span {
  display: block;
  font-family: "Inter", serif;
  color: #393939;
  font-size: 17px;
  font-weight: 400;
}

/************************************************Scroll To Top CSS************************************************/
.back-to-top {
  margin: 0 !important;
  padding: 0 !important;
  background: #ffffff;
  height: 0px;
  width: 0px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
  bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.back-to-top::after {
  border-bottom-color: #ffffff;
  position: relative;
  top: -24px;
}
.back-to-top.show {
  display: block;
  background: #ffffff;
  color: #832f40;
  font-size: 25px;
  right: 25px;
  bottom: 50px;
  height: 47px;
  width: 47px;
  visibility: visible;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
.back-to-top i {
  font-size: 20px;
}

.back-to-top::before,
.back-to-top::after {
  content: "";
  display: block;
  vertical-align: middle;
  border-bottom: solid 10px #832f40;
  line-height: 0;
  height: 0;
  width: 0;
  border-radius: 20px;
  visibility: hidden;
}

.back-to-top.show::after,
.back-to-top.show::before {
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
